
{% extends 'base.html' %} 

{% block content %}

<style>
    
    .containerForm {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60vh;
            margin: 2rem;
        }

        .card {
            background-color: #ffffff;
            border-radius: 0.5rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin: 1rem;
        }

        .card-body {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form-control {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 0.25rem;
            margin-bottom: 1rem;
        }

        .btn-primary {
            background-color: #4682b4;
            color: #fff;
            border: none;
            border-radius: 1rem;
            padding: 0.75rem 1.25rem;
            cursor: pointer;
        }

        .btn-primary:hover {
            background-color: #305f8c;
        }

    </style>

<main class="containerForm">
    <div class="row">
     <div class="col-md-8 offset-md-2 mt-5">
         <form action="/iniciaeSesion/" method="post" class="card card-body">
         
             <h1 class="text-center">Login</h1>
              <!-- CSRF cookie -->
             {% csrf_token %}
         
             <!-- Se manda a traer el error (si existe) desde views -->
             <h5 class="text-center"> {{error|escape}}</h5>

              <!-- Se manda a traer el formulario desde views -->

             <div class="mb-3">
                <label for="username" class="text-center"> Username: </label>
                <input type="text" name="username" id="username" class="form-control" placeholder="Introduce tu usuario">
             </div>
             <br>

             <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Introduce tu contraseña">
           
            <br>

             <button class="btn btn-primary alert-primary">
                 Iniciar Sesión
             </button>
         </form>
     </div>
    </div>
 </main>


{% endblock %}

