{% extends 'base.html' %}

{% block content %}

<!--------------------------- OTRA MANERA DE HACERLO ---------------------------------
<main class="container">
   <div class="row">
    <div class="col-md-8 offset-md-2 mt-5">
        <form action="/signup/" method="post" class="card card-body">

            <h1 class="text-center">Regístrate</h1>
            --------------------------- CSRF cookie ---------------------------
            {% csrf_token %}
        
           --------------- Se manda a traer el error (si existe) desde views ---------------
            {{error}}
        
             --------------- Se manda a traer el formulario desde views ---------------
            {{form}}
            <button>
                Signup
            </button>
        </form>
    </div>
   </div>
</main> -------------------------------------------------------------------------------------->



<main class="container">
    <div class="row">
     <div class="col-md-8 offset-md-2 mt-5">
         <form action="/signup/" method="post" class="card card-body">
 
             <h1 class="text-center">Regístrate</h1>
              <!-- CSRF cookie -->
             {% csrf_token %}
         
             <!-- Se manda a traer el error (si existe) desde views -->
             {{ error|escape }}
         
              <!-- Se manda a traer el formulario desde views -->
             <div class="mb-3">
                <label for="username"> Username: </label>
                <input type="text" name="username" id="username" class="form-control" placeholder="Introduce tu usuario">
             </div>

             <label for="password1" class="form-label">Password:</label>
            <input type="password" name="password1" id="password1" class="form-control" placeholder="Introduce tu contraseña">
            <div id="passwordHelpBlock" class="form-text">
                Su contraseña no puede ser demasiado similar a su otra información personal.<br>
                Su contraseña debe contener al menos 8 caracteres.<br>
                Su contraseña no puede ser una contraseña de uso común.<br>
                Su contraseña no puede ser completamente numérica. 
            </div>
            <br>
            <label for="password2" class="form-label">Password confirmation:</label>
            <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirma tu contraseña">
            <div id="passwordHelpBlock" class="form-text">
            Ingrese la misma contraseña que antes, para verificación.
            </div><br>

            <br>
             <button class="btn btn-primary">
                 Signup
             </button>
         </form>
     </div>
    </div>
 </main>


{% endblock %}